* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.contaner {
    width: 1100px;
    margin: 20px auto;
}
@media (max-width:767px) {
.contaner {
    width: 100%;
    margin: 20px auto;
}
}
@media (min-width:768px) {
.contaner {
    width: 750px;
    margin: 20px auto;
}
}
@media (min-width:990px) {
.contaner {
    width: 800px;
    margin: 20px auto;
}
}
@media (min-width:1050px) {
.contaner {
    width: 1100px;
    margin: 20px auto;
}
}
.starting-screen,
.endign-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2195f35e;
    z-index: 5;
}
.starting-screen .start-btn,
.endign-screen .end-btn {
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    padding: 25px 45px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.difficulty-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2195f35e;
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.difficulty-screen span {
    background-color: #db36f4;
    color: white;
    border-radius: 4px;
    padding: 15px 35px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
@media (max-width: 990px) {
    .starting-screen .start-btn,
    .endign-screen .end-btn {
     font-size: 16px;   
    padding: 10px 15px;
    }
}
.contaner .status-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border: 4px solid #2196F3;
    font-size: 22px;
    margin-bottom: 20px;
}
@media (max-width: 990px) {
    .contaner .status-bar {
     font-size: 14px;   
    }
}
.contaner .blocks-contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contaner .blocks-contaner.unclickable {
    pointer-events: none;
}
.contaner .blocks-contaner .block {
    width: 200px; 
    height: 200px;
    position: relative;   
    cursor: pointer;
    transition: .9s;
    transform-style: preserve-3d;
    margin: 10px 10px;
}
@media (max-width:767px) {
    .contaner .blocks-contaner .block {
        width: 80px;
        height: 80px;
    }
}
@media (min-width:767px) {
    .contaner .blocks-contaner .block {
        width: 120px;
        height: 120px;
    }
}
@media (min-width:990px) {
    .contaner .blocks-contaner .block {
        width: 180px;
        height: 180px;
    }
}

.contaner .blocks-contaner .block.is-fliped,
.contaner .blocks-contaner .block.is-matched{
    transform: rotatex(180deg);
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    pointer-events: none;
}
.contaner .blocks-contaner .block .fornt {
    background-color: #505050;
    border: 5px solid #2196F3;
    width: 100%; 
    height: 100%;
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
}
.contaner .blocks-contaner .block .fornt::before {
    content: "!";
    position: absolute;
    font-size: 160px;
    font-weight: bold;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
    .contaner .blocks-contaner .block .fornt::before {
    font-size: 60px;
    }
}
@media (min-width: 768px) {
    .contaner .blocks-contaner .block .fornt::before {
    font-size: 90px;
    }
}
@media (min-width: 990px) {
    .contaner .blocks-contaner .block .fornt::before {
    font-size: 120px;
    }
}
.contaner .blocks-contaner .block .back {
    background-color: gray;
    border: 5px solid #2196F3;
    width: 100%; 
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotatex(180deg);
}
.contaner .blocks-contaner .block .back img {
    width: 130px;
    height: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
@media (max-width:767px) {
.contaner .blocks-contaner .block .back img {
    width: 50px;
    height: 50px;
}
}
.contaner .liderboard {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    background-color: #eee;
    font-size: 30px;
    padding: 20px;
    border-radius: 12px;
}
@media (max-width: 990px) {
    .contaner .liderboard {
     font-size: 15px;   
    }
}
.contaner .liderboard .header {
    display: flex;
    border-bottom: 2px solid #2196F3;
    padding: 25px 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.contaner .liderboard .header div {
    width: 50%;
    text-align: center;
}
.contaner .liderboard .player {
    display: flex;
    padding: 20px;
}
.contaner .liderboard .player span {
    width: 50%;
    text-align: center;
}